doctype html
html(lang='ru')
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/css/main.min.css')
  body
    .wrapper
      header.header 
        .container header
      nav.main-navigation.container(role='navigation')
        - var linksList = {home: "/", about: "/about", admin: "/admin/controll"};
          each val, index in linksList
            a.main-navigation__link(href=val)=index
      main#main(role="main")
        .container
          block content
      footer.footer
        .container footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/js/jquery.twbsPagination.js")
    script(src="/js/script.js")